
<!DOCTYPE html>
<html lang="en" class="tsc-template "><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>
Nunjucks Development Kit - tonbridgespiritualist.com
</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#0b0c0c">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" type="image/png" href="https://assets.service.tonbridgespiritualist.com/digital-service/frontend/Favicon.png" />


  <!--[if lte IE 8]><link href="/public/stylesheets/application-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
<!--[if gt IE 8]><!--><link href="https://tonbridgespiritualist.com/application/application.css" media="all" rel="stylesheet" type="text/css"><!--<![endif]-->
<link href="https://tonbridgespiritualist.com/application/home.css" media="all" rel="stylesheet" type="text/css">





    <meta property="og:image" content="/tsc/assets/images/tsc-opengraph-image.png">
  </head>
  <body class="tsc-template__body  js-enabled"><script id="__bs_script__">//<![CDATA[
    document.write("<script async src='/browser-sync/browser-sync-client.js?v=2.26.12'><\/script>".replace("HOST", location.hostname));
//]]></script><script async="" src="https://tonbridgespiritualist.com/application/browser-sync-client.js.download"></script>

    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>



      <a href="#main-content" class="tsc-skip-link">Skip to main content</a>




      {% include "partials/landingpage-header.html" %}

         <header class="home-top">
    <div class="tsc-width-container home-top__inner">
      <div class="tsc-grid-row">
        <div class="tsc-grid-column-two-thirds">
          <h1 class="home-top__title">{% block hometitle %}{% endblock %}</h1>
          <p class="home-top__intro">{% block homedesc %}{% endblock %}</p>
<br>
        </div>
      </div>
    </div>
  </header>




        <main class="tsc-main-wrapper tsc-main-wrapper--auto-spacing" id="main-content" role="main">

 <div class="tsc-width-container ">
  <div class="tsc-grid-row-last">

  </div>
 <div class="tsc-grid-row-last">
 <div class="tsc-grid-column-one-third">
<a class="dept-num__link" href="{% block numberlink %}{% endblock %}">
<h2 class="dept-num">
{% block bignumber %}{% endblock %}
</h2>
<p class="service-body">
{% block bigtext %}{% endblock %}
</p>
</a>
</div>
  <div class="tsc-grid-column-two-thirds">
<p class="home-body-top">{% block maintext %}{% endblock %}</p>
</div>
</div>
</div>

        </main>
      </div>



{% include "partials/footer.html" %}




    <!-- Javascript -->
<script src="https://tonbridgespiritualist.com/application/jquery-1.11.3.js.download"></script>


  <script src="https://tonbridgespiritualist.com/application/all.js.download"></script>


<script src="https://tonbridgespiritualist.com/application/application.js.download"></script>


  <script src="https://tonbridgespiritualist.com/application/auto-store-data.js.download"></script>


</body></html>
