<footer class="tsc-footer " role="contentinfo">
  <div class="tsc-width-container ">
    <div class="tsc-footer__meta">
      <div class="tsc-footer__meta-item tsc-footer__meta-item--grow">
        <h2 class="tsc-visually-hidden">Support links</h2>
        <ul class="tsc-footer__inline-list">
          <li class="tsc-footer__inline-list-item">
            <a class="tsc-footer__link" href="#1">
              About Tonbridge Spiritualist Centre
            </a>
          </li>
          <li class="tsc-footer__inline-list-item">
            <a class="tsc-footer__link" href="#2">
              Digital Service
            </a>
          </li>
        </ul>

        <span class="tsc-footer__licence-description">
          All content is available under the
          <a class="tsc-footer__link" href="https://creativecommons.org/licenses/by-nc-nd/4.0/" rel="license">Creative Commons BY-NC-ND</a>, except where otherwise stated
        </span>
      </div>
      <div class="tsc-footer__meta-item">
        <a class="tsc-footer__link tsc-footer__copyright-logo" href="/copyright.html">© Tonbridge Spiritualist Centre</a>
      </div>
    </div>
  </div>
</footer>
