<header class="tsc-header " role="banner" data-module="tsc-header">
<div class="tsc-header__container tsc-width-container">
  <div class="tsc-header__logo">
    <a href="/" class="tsc-header__link tsc-header__link--homepage">
      <span class="tsc-header__logotype">
 <img src="https://tonbridgespiritualist.com/application/tsc-yellow.svg" width="100px">
      </span>

    </a>
  </div>
</div>
</header>
<div class="tsc-width-container">
    <div class="tsc-grid-row-last">
<div class="tsc-grid-column-full">
        <div class="tsc-phase-banner">
          <p class="tsc-phase-banner__content">
            <strong class="tsc-tag tsc-phase-banner__content__tag">
              beta
            </strong>
            <span class="tsc-phase-banner__text">
              This is a new service – your <a class="tsc-link" href="#">feedback</a> will help us to improve it.
            </span>
          </p>
        </div>
</div>
    </div>
</div>
