{% extends "article.html" %}

{% set page = 'article' %}

{% block title %}
Demo Article
{% endblock title %}

{% block breadcrumbs %}
    <li class="tsc-breadcrumbs__list-item">
      <a class="tsc-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="tsc-breadcrumbs__list-item">
      <a class="tsc-breadcrumbs__link" href="org/offices/digital">Digital Service</a>
    </li>
{% endblock breadcrumbs %}

{% block caption %}
Article
{% endblock caption %}

{% block pageheading %}
Demo Article
{% endblock pageheading %}

{% block leadparagraph %}
This is a demo article from the Digital Service.
{% endblock leadparagraph %}

{% block pubdate %}
29 December 2019
{% endblock pubdate %}

{% block authors %}
<span class="app-c-publisher-metadata__definition-sentence">
                  <a class="tsc-link" href="/org/offices/digital">Digital Service</a> and <a class="tsc-link" href="/org/people/jay-bragg">Jay Bragg</a>
</span>
{% endblock authors %}

{% block article %}
<p class="tsc-body">This is a demo article to show the article layout on tonbridgespiritualist.com.</p>

{% endblock article %}

{% block similarcontent %}
<li>
              <a class="tsc-link" href="/org/projects/digital-updates">
                Digital Updates
              </a>
            </li>
{% endblock %}
