{% extends "blank.html" %}

{% set page = 'blank' %}

{% block title %}
Blank page
{% endblock title %}

{% block breadcrumbs %}
    <li class="tsc-breadcrumbs__list-item">
      <a class="tsc-breadcrumbs__link" href="/">Home</a>
    </li>
    <li class="tsc-breadcrumbs__list-item">
      <a class="tsc-breadcrumbs__link" href="org/offices/digital">Digital Service</a>
    </li>
{% endblock breadcrumbs %}

{% block pageheading %}
Blank page
{% endblock pageheading %}

{% block content %}
<p class="tsc-body">This is a demo article to show the article layout on tonbridgespiritualist.com.</p>
{% endblock content %}


{% block pubdate %}
1 January 2021
{% endblock pubdate %}
