{% extends "article.html" %}

{% set page = 'article' %}

{% block title %}
Copyright information
{% endblock title %}

{% block breadcrumbs %}
    <li class="tsc-breadcrumbs__list-item">
      <a class="tsc-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="tsc-breadcrumbs__list-item">
      <a class="tsc-breadcrumbs__link" href="/org/offices/digital">Digital Service</a>
    </li>
{% endblock breadcrumbs %}

{% block caption %}
Statutory information
{% endblock caption %}

{% block pageheading %}
Copyright information
{% endblock pageheading %}

{% block leadparagraph %}
The Digital Service shares copyright information from the entire TSC Digital Estate.
{% endblock leadparagraph %}

{% block pubdate %}
31 December 2020
{% endblock pubdate %}

{% block authors %}
<span class="app-c-publisher-metadata__definition-sentence">
                  <a class="tsc-link" href="/org/offices/digital">Digital Service</a>
</span>
{% endblock authors %}

{% block article %}
<h3 class="tsc-heading-m">Font</h3>
         <p class="tsc-body">The official font used across the Tonbridge Spiritualist Centre digital estate is <a class="tsc-link" href="https://fonts.adobe.com/fonts/interstate">Interstate</a> used in accordance with the Adobe Fonts EULA, a summary of the information can be found on the <a class="tsc-link" href="https://www.adobe.com/uk/products/type/font-licensing/licensing-faq.html">Font Licensing FAQ</a>.</p>

         <h3 class="tsc-heading-m">Logo</h3>
                    <p class="tsc-body">The Tonbridge Spiritualist Centre logo has been designed in-house and all rights are owned by <a class="tsc-link" href="mailto:me@thatjay.co.uk">Jay Bragg<a>. The use of this logo is licensed under him.</p>

                    <h3 class="tsc-heading-m">Other copyright information</h3>
<ul class="tsc-list tsc-list--bullet"
<li class="tsc-body">Whilst using HTML stylings from TSC, the HTML form on the <a class="tsc-link" href="https://tonbridgespiritualist.com/get-coronavirus-emails">Get coronavirus (COVID-19) emails</a> service is provided by EmailOctopus who also run our Notifications service.</li>
<li class="tsc-body">Our virtual meetings on Sundays are hosted by Zoom Video Communications' software Zoom.us. Zoom.us logo is copyright of Zoom Video Communications.</li>
<li class="tsc-body">Our services are hosted by <a class="tsc-link" href="https://github.com">Github</a>.</li>
</ul>
{% endblock article %}

{% block similarcontent %}
<li>
              <a class="tsc-link" href="/org/projects/digital-updates">
                Digital Updates
              </a>
            </li>
{% endblock %}
