{% extends "ndk-home.html" %}

{% set page = 'index' %}

{% block title %}
Demo Article
{% endblock title %}

{% block hometitle %}
Nunjucks Development Kit
{% endblock hometitle %}
{% block homedesc %}
The simple way to create content for tonbridgespiritualist.com services.
{% endblock %}

{% block numberlink %}
/templates.html
{% endblock %}

{% block bignumber %}
5
{% endblock %}
{% block bigtext %}
templates available to use
{% endblock %}

{% block numberlink2 %}
/templates.html
{% endblock %}

{% block bignumber2 %}
0
{% endblock %}
{% block bigtext2 %}
services currently using the NDK
{% endblock %}

{% block maintext %}
The Nunjucks Development Kit allows for easy creation of pages and services for tonbridgespiritualist.com.<br>We have a library of premade templates and components but you can make your own.
{% endblock %}

{% block additional %}
  <a class="tsc-button" href="https://github.com/tonbridgespiritualist/beta/archive/master.zip">
  Download the kit
  </a>

<a class="tsc-button tsc-button--secondary" href="/getstarted.html">
  Get started guide
</a>
{% endblock %}
