{% extends "service.html" %}

{% set page = 'service' %}

{% block title %}
Demo Service
{% endblock title %}

{% block breadcrumbs %}
    <li class="tsc-breadcrumbs__list-item">
      <a class="tsc-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="tsc-breadcrumbs__list-item">
      <a class="tsc-breadcrumbs__link" href="#">Coronavirus (COVID-19)</a>
    </li>
{% endblock breadcrumbs %}

{% block servicename %}
Demo service
{% endblock servicename %}

{% block servicecando %}
<p>Use this service to:</p>
<ul class="tsc-list tsc-list--bullet">
        <li>do this</li>
                <li>do that</li>
      </ul>
      <p>Using this service takes about 2 minutes.</p>
{% endblock servicecando %}

{% block servicelink %}
https://watch-a-past-virtual-session.service.tonbridgespiritualist.com/start
{% endblock servicelink %}

{% block aftertext %}
<h3 class="tsc-heading-s">Before you start</h3>
<p class="tsc-body">You can also do this over the phone, or email.</p>
{% endblock aftertext %}

{% block similarcontent %}
<li>
              <a class="tsc-link" href="/org/news/phase-one.html">
                Something relevant
              </a>
            </li>
{% endblock %}
