{% extends "service.html" %}

{% block title %}
Demo Service
{% endblock title %}

{% block breadcrumbs %}
    <li class="tsc-breadcrumbs__list-item">
      <a class="tsc-breadcrumbs__link" href="#">Home</a>
    </li>
    <li class="tsc-breadcrumbs__list-item">
      <a class="tsc-breadcrumbs__link" href="#">Coronavirus (COVID-19)</a>
    </li>
{% endblock breadcrumbs %}

{% block servicename %}
Demo service
{% endblock servicename %}

{% block servicecando %}
<p>Use this service to:</p>
<ul class="tsc-list tsc-list--bullet">
        <li>find the archive video of a virtual service</li>
      </ul>
      <p>Searching takes about 2 minutes.</p>
{% endblock servicecando %}

{% block servicelink %}
https://watch-a-past-virtual-session.service.tonbridgespiritualist.com/start
{% endblock servicelink %}

{% block similarcontent %}
<li>
              <a class="tsc-link" href="/org/news/phase-one.html">
                Phase One: Moving Online
              </a>
            </li>
{% endblock %}
