{% extends "blank.html" %}

{% set page = 'templates' %}

{% block title %}
Nunjucks templates
{% endblock title %}

{% block breadcrumbs %}
    <li class="tsc-breadcrumbs__list-item">
      <a class="tsc-breadcrumbs__link" href="/">Home</a>
    </li>
{% endblock breadcrumbs %}

{% block pageheading %}
Templates
{% endblock pageheading %}

{% block content %}
<p class="tsc-body">We currently have 5 templates.</p>
<ul class="tsc-list tsc-list--bullet">
  <li class="tsc-body-s"><a class="tsc-link" href="#blank">Blank page</a></li>
  <li class="tsc-body-s"><a class="tsc-link" href="#service">Service page</a></li>
  <li class="tsc-body-s"><a class="tsc-link" href="#article">Article page</a></li>
  <li class="tsc-body-s"><a class="tsc-link" href="#home">Home page</a></li>
    <li class="tsc-body-s"><a class="tsc-link" href="#question">Question page</a></li>
  </ul>
<section id="blank">
<h3 class="tsc-heading-m">Blank page</h3>
<div class="code-div">
<code>&#123;% extends "blank.html" %&#125;</code>
</div>
<p class="tsc-body">This template is for use with simple content pages on tonbridgespiritualist.com.<br>If you are creating a service, use the <a href="#question" class="tsc-link">question page template</a>.</p>
</section>

<section id="service">
  <h3 class="tsc-heading-m">Service page</h3>
  <div class="code-div">
  <code>&#123;% extends "service.html" %&#125;</code>
  </div>
  <p class="tsc-body">This template is for service start pages on tonbridgespiritualist.com.<br>These should not be hosted on your service and should instead be hosted on alphatsc.</p>
</section>

<section id="home">
  <h3 class="tsc-heading-m">Home page</h3>
  <div class="code-div">
  <code>&#123;% extends "home.html" %&#125;</code>
  </div>
  <p class="tsc-body">This template is for use in producing the home page of your service.</p>
    <div class="tsc-warning-text">
      <span class="tsc-warning-text__icon" aria-hidden="true">!</span>
      <strong class="tsc-warning-text__text">
        <span class="tsc-warning-text__assistive">Warning</span>
        If your service is a process e.g application, you should instead use the <a class="tsc-link" href="#service">service template</a>, making the start button link to the first question on your service, and then launch a pull request to insert it into the <a class="tsc-link" href="https://github.com/tonbridgespiritualist/alphatsc">alphatsc GitHub repository</a>.
      </strong>
          <p class="tsc-body-s">For help visit the <a class="tsc-link" href="/publishing.html">publishing page</a></p>
    </div>
</section>

<section id="question">
<h3 class="tsc-heading-m">Question page</h3>
<div class="code-div">
<code>&#123;% extends "question.html" %&#125;</code>
</div>
<p class="tsc-body">This template is for questions on tonbridgespiritualist.com services.<br>If you are creating a simple content page, use the <a href="#blank" class="tsc-link">blank page template</a>.</p>
</section>
{% endblock content %}


{% block pubdate %}
1 January 2021
{% endblock pubdate %}
